body {
    font-family: 'Train One', cursive;
}

#app {
    font-family: 'Train One', cursive;
    background: #acd8d8;
    color: rgb(0, 0, 0);
    letter-spacing: 0.04em;
    text-align: center;
    margin: 60px;
    width: 370px;
    margin: 0 auto;
    display: table;
    padding: 20px;
    line-height: 1.4em;
}


h3 {
    font-family: 'Train One', cursive;
    margin: 5px 0 4px;
}

.main-info {
    font-family: 'Train One', cursive;
    float: right;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 15px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

li {
    font-family: 'Train One', cursive;
    list-style: none outside none;
    text-align: left;
    padding: 10px 0;
}

ul {
    margin: 1000;
    padding: 0 35px;
    font-family: 'Train One', cursive;
}

input {
    font-family: 'Train One', cursive;
    width: 280px;
    margin: 30px 0;
    padding: 8px 10px;
    outline: 0;
}