#app {
    font-family: 'Train One', cursive;
    background: #d1d1d1;
    color: rgb(0, 0, 0);
    letter-spacing: 0.04em;
    text-align: center;
    margin: auto;
    width: 500px;
    height:auto;
    display: table;
    padding: 20px;
    line-height: 1.4em;
    font-size: 20pt;
    border: transparent;
    border-radius: 3px;
}

li {
    list-style: none outside none;
    text-align: center;
    padding: 5px 0;
    transition: ease-in 300ms;
}

li:hover {
    cursor: pointer;
    transform:matrix(2,-2,2,2,0,0);
    transition: ease-out 300ms;
}

ul {
    margin: 15px;
    padding: 0 35px;
    font-family: 'Train One', cursive;
}

input {
    font-family: 'Train One', cursive;
    width: 280px;
    margin: 20px 0;
    padding: 8px 10px;
    outline: 0;
    font-size: 20pt;
    border: transparent;
    border-radius: 3px;
}